## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [3]:
from IPython.display import display
import pandas as pd
import _sqlite3

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil.

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [5]:
gas_2000_df = pd.read_csv("..\\..\\Docs\\Analisando Dados com Pandas & SQL\\projetos\\analise-precos-gasolina\\gasolina_2000+.csv")
gas_2010_df = pd.read_csv("..\\..\\Docs\\Analisando Dados com Pandas & SQL\\projetos\\analise-precos-gasolina\\gasolina_2010+.csv")

display(gas_2000_df.head())
display(gas_2010_df.head())

display(gas_2000_df.info())
display(gas_2010_df.info())

C:\Users\Administrativo\AppData\Local\Temp\ipykernel_12972\1940540921.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  gas_2010_df = pd.read_csv("..\\..\\Docs\\Analisando Dados com Pandas & SQL\\projetos\\analise-precos-gasolina\\gasolina_2010+.csv")

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.020,2.050,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
1,9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.490,1.990,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
2,9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.590,2.490,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069
3,9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024
4,9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.100,0.268,0.041,1.758,0.042,1.63,1.848,0.024

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42638 entries, 0 to 42637
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     42638 non-null  int64
 1   DATA INICIAL                   42638 non-null  object
 2   DATA FINAL                     42638 non-null  object
 3   REGIÃO                         42638 non-null  object
 4   ESTADO                         42638 non-null  object
 5   PRODUTO                        42638 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   42638 non-null  int64
 7   UNIDADE DE MEDIDA              42638 non-null  object
 8   PREÇO MÉDIO REVENDA            42638 non-null  float64
 9   DESVIO PADRÃO REVENDA          42638 non-null  float64
 10  PREÇO MÍNIMO REVENDA           42638 non-null  float64
 11  PREÇO MÁXIMO REVENDA           42638 non-null  float64
 12  MARGEM MÉDIA REVENDA           42638 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       42638 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       42638 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     42638 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      42638 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      42638 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  42638 non-null  object
dtypes: float64(5), int64(2), object(12)
memory usage: 6.2+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78185 entries, 0 to 78184
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     78185 non-null  int64
 1   DATA INICIAL                   78185 non-null  object
 2   DATA FINAL                     78185 non-null  object
 3   REGIÃO                         78185 non-null  object
 4   ESTADO                         78185 non-null  object
 5   PRODUTO                        78185 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   78185 non-null  int64
 7   UNIDADE DE MEDIDA              78185 non-null  object
 8   PREÇO MÉDIO REVENDA            78185 non-null  float64
 9   DESVIO PADRÃO REVENDA          78185 non-null  float64
 10  PREÇO MÍNIMO REVENDA           78185 non-null  float64
 11  PREÇO MÁXIMO REVENDA           78185 non-null  float64
 12  MARGEM MÉDIA REVENDA           78185 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       78185 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       78185 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     78185 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      78185 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      78185 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  78185 non-null  object
dtypes: float64(5), int64(2), object(12)
memory usage: 11.3+ MB

None

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

### 11. Qual a média de preço dos estados da região sul em 2012?

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.