## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [1]:
from IPython.display import display
import pandas as pd
import _sqlite3

aux = pd.DataFrame()

def get_compact_df(path, drop_cols):
    """ Função para importar um DataFrame de um arquivo csv, permite tratamento das DFs
    :param path: Caminho do qual se deve importar
    :param drop_cols: Colunas a remover
    :return: se a importação deu certo, retorna a DF importada e tratada, caso contrário retorna uma DF vazia
    """
    
    try:
        df = pd.read_csv(path, index_col=0)
        df.drop(drop_cols, axis=1, inplace=True)
        df.dropna(how='any', axis=0, inplace=True)
        df.dropna(how='all', axis=1, inplace=True)
    except (FileNotFoundError, AttributeError): return pd.DataFrame()
    else: return df

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil.

### ***1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.***

In [2]:
useless_cols = ['MARGEM MÉDIA REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO', 'DESVIO PADRÃO DISTRIBUIÇÃO',  'PREÇO MÍNIMO DISTRIBUIÇÃO',  'PREÇO MÁXIMO DISTRIBUIÇÃO',  'COEF DE VARIAÇÃO DISTRIBUIÇÃO']

""" ## Importação de DataFrames """
df1 = get_compact_df("..\\..\\Docs\\projetos\\analise-precos-gasolina\\gasolina_2000+.csv", useless_cols)
df2 = get_compact_df("..\\..\\Docs\\projetos\\analise-precos-gasolina\\gasolina_2010+.csv", useless_cols)

""" ## Verifica situação da Importação """
if (df1.empty) | (df2.empty): print('Tentativa de importar DF vazia ou Falha ao importar. Sistema Encerrado!')
else:
    gas_df = pd.concat([df1, df2], ignore_index=True)
    display(gas_df.head())

C:\Users\Administrativo\AppData\Local\Temp\ipykernel_17260\3185395078.py:15: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, index_col=0)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,COEF DE VARIAÇÃO REVENDA
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.012
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.098
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.070
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.055
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.066

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [31]:
""" ## Investigando o DataFrame """
display(gas_df.head())
# display(gas_df.tail())

display(gas_df.info())

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,COEF DE VARIAÇÃO REVENDA
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.012
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.098
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.070
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.055
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.066

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 12 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   DATA INICIAL                  120823 non-null  object
 1   DATA FINAL                    120823 non-null  object
 2   REGIÃO                        120823 non-null  object
 3   ESTADO                        120823 non-null  object
 4   PRODUTO                       120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS  120823 non-null  int64
 6   UNIDADE DE MEDIDA             120823 non-null  object
 7   PREÇO MÉDIO REVENDA           120823 non-null  float64
 8   DESVIO PADRÃO REVENDA         120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA          120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA          120823 non-null  float64
 11  COEF DE VARIAÇÃO REVENDA      120823 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 11.1+ MB

None

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [104]:
aux = gas_df.iloc[2, 0]
display(aux)    
print(type(aux))

'2004-05-09'

<class 'str'>

### ***4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.***

In [3]:
""" ## Sintaxe """
# df['Date'] = pd.to_datetime(df['Date'])

""" ## Conversão """
gas_df['DATA FINAL'] = pd.to_datetime(gas_df['DATA FINAL'])
gas_df['DATA INICIAL'] = pd.to_datetime(gas_df['DATA INICIAL'])

display(gas_df.head())

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,COEF DE VARIAÇÃO REVENDA
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.012
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.098
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.070
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.055
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.066

### ***5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.***

In [4]:
gas_df['ANO/MES'] = gas_df['DATA FINAL'].apply(lambda x: '{}-{:02d}'.format(x.year, x.month))

display(gas_df.head())

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,COEF DE VARIAÇÃO REVENDA,ANO/MES
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.012,2004-05
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.098,2004-05
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.070,2004-05
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.055,2004-05
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.066,2004-05

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [5]:
aux = gas_df['PRODUTO'].value_counts()
display(aux)

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### ***7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.***

In [6]:
reg_gas_df = gas_df.loc[gas_df['PRODUTO'] == 'GASOLINA COMUM']
display(reg_gas_df)
reg_gas_df.shape

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,COEF DE VARIAÇÃO REVENDA,ANO/MES
9256,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.003,2004-05
9257,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.031,2004-05
9258,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.028,2004-05
9259,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.035,2004-05
9260,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.016,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,0.012,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,0.050,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,0.041,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,0.016,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,0.028,2021-05

(23570, 13)

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [9]:
aux = reg_gas_df[reg_gas_df['ANO/MES'] == '2008-08']

display(aux['PREÇO MÉDIO REVENDA'].mean())

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [10]:
aux = reg_gas_df[(reg_gas_df['ANO/MES'] == '2014-05') & (reg_gas_df['ESTADO'] == 'SAO PAULO')]

display(aux['PREÇO MÉDIO REVENDA'].mean())

2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [12]:
aux = reg_gas_df.loc[reg_gas_df['PREÇO MÉDIO REVENDA'] > 5] [['ESTADO', 'ANO/MES', 'PREÇO MÉDIO REVENDA']]

display(aux)

                ESTADO  ANO/MES  PREÇO MÉDIO REVENDA
98201             ACRE  2018-05                5.053
98347             ACRE  2018-06                5.035
98493             ACRE  2018-06                5.038
98511   RIO DE JANEIRO  2018-06                5.016
98646             ACRE  2018-06                5.031
...                ...      ...                  ...
120721         RORAIMA  2021-05                5.364
120722  SANTA CATARINA  2021-05                5.051
120723       SAO PAULO  2021-05                5.265
120724         SERGIPE  2021-05                5.586
120725       TOCANTINS  2021-05                5.751

[353 rows x 3 columns]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [15]:
aux = reg_gas_df[reg_gas_df['DATA FINAL'].apply(lambda x: x.year) == 2012]
aux = reg_gas_df[reg_gas_df['REGIÃO'] == 'SUL']['PREÇO MÉDIO REVENDA'].mean()

display(aux)

3.113193203512791

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [35]:
""" ## Filtrando um DataFrame apenas com dados que serão úteis """
reg_gas_df['MES'] = reg_gas_df['DATA FINAL'].apply(lambda x: x.month)
df_rio = reg_gas_df[reg_gas_df['ESTADO'] == 'RIO DE JANEIRO']

""" ## Pegar apenas a última entrada de cada mês """
df_month_rio = df_rio.groupby('ANO/MES')[['PREÇO MÉDIO REVENDA', 'MES']].last()

""" ## Pegar apenas o último mês do ano """
df_dec_rio = df_month_rio[df_month_rio['MES'] == 12]

""" ## Aplicar shift para poder obter um percentual de mudança do ano atual para o valor anterior (ano passado) """
aux['RAZÃO DO PREÇO A CADA ANO'] = (df_dec_rio['PREÇO MÉDIO REVENDA'] / df_dec_rio['PREÇO MÉDIO REVENDA'].shift(1) - 1) * 100

""" ## Aplicar rolling e sum para obter somatório dos percentuais dos últimos 3 anos """
aux['PERCENTUAL ULTIMOS 3 ANOS'] = aux['RAZÃO DO PREÇO A CADA ANO'].rolling(3).sum()

display(aux)

C:\Users\Administrativo\AppData\Local\Temp\ipykernel_6484\478380622.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reg_gas_df['MES'] = reg_gas_df['DATA FINAL'].apply(lambda x: x.month)

         RAZÃO DO PREÇO A CADA ANO  PERCENTUAL ULTIMOS 3 ANOS
ANO/MES
2004-12                        NaN                        NaN
2005-12                   9.233449                        NaN
2006-12                   0.917065                        NaN
2007-12                   0.355591                  10.506106
2008-12                   0.984252                   2.256908
2009-12                   1.637427                   2.977270
2010-12                   2.032988                   4.654667
2011-12                   7.105263                  10.775678
2012-12                   0.982801                  10.121052
2013-12                   6.777894                  14.865958
2014-12                   4.361979                  12.122674
2015-12                  20.461634                  31.601507
2016-12                   3.625065                  28.448678
2017-12                  13.643178                  37.729878
2018-12                   5.804749                  23.072992
2019-12                   3.802993                  23.250920
2020-12                  -1.321321                   8.286421

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [7]:
""" ## Obter DataFrames com valores úteis """
min_df = reg_gas_df.groupby('ANO/MES').min() ['PREÇO MÉDIO REVENDA']
max_df = reg_gas_df.groupby('ANO/MES').max() ['PREÇO MÉDIO REVENDA']


""" ## Criação de um novo DataFrame com seus respectivos campos e valores """
diff_df = pd.DataFrame()
diff_df['MAX PRICE'] = max_df
diff_df['MIN PRICE'] = min_df
diff_df['ABS DIFF'] = max_df - min_df
diff_df['REL DIFF'] = (diff_df['ABS DIFF'] / reg_gas_df.groupby('ANO/MES')['PREÇO MÉDIO REVENDA'].mean()) * 100

""" ## Captar os indexes de cada elemento para cada valor máximo/mínimo """
idx_max_df = reg_gas_df.groupby('ANO/MES') ['PREÇO MÉDIO REVENDA'].idxmax()
idx_min_df = reg_gas_df.groupby('ANO/MES') ['PREÇO MÉDIO REVENDA'].idxmin()

""" ## Acessar Estados de ocorrência dos valores """
diff_df['STATES MAX'] = reg_gas_df.loc[idx_max_df, :] ['ESTADO'].values
diff_df['STATES MIN'] = reg_gas_df.loc[idx_min_df, :] ['ESTADO'].values

aux = diff_df.copy()
display(aux)

,MAX PRICE,MIN PRICE,ABS DIFF,REL DIFF,STATES MAX,STATES MIN
ANO/MES,,,,,,
2004-05,2.438,1.888,0.550,26.312370,ACRE,SAO PAULO
2004-06,2.496,1.912,0.584,27.280513,MATO GROSSO,SAO PAULO
2004-07,2.545,1.936,0.609,27.537824,ACRE,DISTRITO FEDERAL
2004-08,2.560,2.030,0.530,23.771356,MATO GROSSO,SAO PAULO
2004-09,2.570,2.031,0.539,24.093174,ACRE,SAO PAULO
...,...,...,...,...,...,...
2021-01,5.213,3.830,1.383,29.769441,ACRE,AMAPA
2021-02,5.809,4.121,1.688,33.929080,ACRE,AMAPA
2021-03,6.688,4.579,2.109,38.176744,ACRE,AMAPA
2021-04,6.227,4.777,1.450,26.392428,ACRE,AMAPA
2021-05,6.258,4.867,1.391,25.290909,ACRE,AMAPA

In [125]:
aux = None

# aux = diff_df['STATES MAX'].value_counts()
# aux = diff_df['STATES MIN'].value_counts()
# aux = reg_gas_df.loc[idx_max_df, :] [['ESTADO', 'PREÇO MÉDIO REVENDA', 'ANO/MES']]

display(aux)

None